@model IEnumerable<Practicing_Programmer.Models.Kata>

@{
    ViewBag.Title = "Index";
}

<h2>Katas</h2>

<div>
    @foreach (var item in Model)
    {
        <a class="kata-summary" href="@Url.Action("Details", new { id=item.KataID })">
            <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
            <p>@Html.DisplayFor(modelItem => item.Summary)</p>
            <p>Difficulty: @Html.DisplayFor(modelItem => item.Difficulty)</p>      
        </a>
    }    
</div>
