@model IEnumerable<Practicing_Programmer.Models.Kata>

@{
    ViewBag.Title = "Index";
}

<h2>Katas</h2>

<div>
    @foreach (var item in Model)
    {
        <div>
            <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
            <p>@Html.DisplayFor(modelItem => item.Summary)</p>
        </div>
    }    
</div>
