/* Styles for Kata links */

a.summary {
    display: block;
    text-decoration: none;
    color: black;
    background-color: gainsboro;
    margin: .75em;
    padding-left: .75em;
    border: .1em solid black;
    border-radius: 1em;
}

a.summary:hover {
    background-color: lightgrey;
}